/* font-family: 'Capriola', sans-serif;
font-family: 'Gochi Hand', cursive;
font-family: 'Roboto', sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #000839;
}

h1 {
  font-family: "Capriola", sans-serif;
}

/* Utility classes */

.l-heading {
  font-size: 4.5rem;
  font-family: "Capriola", sans-serif;
  font-weight: 700;
  color: #fbf0f0;
  text-align: center;
}

.m-heading {
  font-size: 3rem;
  font-family: "Capriola", sans-serif;
  font-weight: 700;
  color: #fbf0f0;
  text-align: center;
}

.s-heading {
  font-size: 2rem;
  font-family: "Capriola", sans-serif;
  font-weight: 700;
  color: #fbf0f0;
  text-align: center;
}

.xs-heading {
  font-size: 1.5rem;
  font-family: "Capriola", sans-serif;
  font-weight: 700;
  color: #fbf0f0;
  text-align: center;
}

.quote-heading {
  font-size: 1.7rem;
  font-family: "Gochi Hand", sans-serif;
  font-weight: 700;
  text-align: center;
}

.post-heading {
  font-size: 3rem;
  font-family: "Gochi Hand", sans-serif;
  font-weight: 700;
  text-align: center;
}

.post {
  text-align: center;
}

.posts-container {
  Nothing yet.
}

.posts-container img {
  width: 70%;
}

.date {
  background-color: #000839;
  color: #f0a500;
  border-radius: 10%;
  padding: 0.5rem;
  font-weight: 700;
}

.bg-lighter {
  background-color: #00a8cc;
  color: #000839;
}

.bg-darker {
  background-color: #00a8cc;
  color: #000839;
}

.bg-orange {
  background-color: #f0a500;
  color: #f0ece3;
}

.pic-spacing {
  width: 50%;
}

#showcase {
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: url(/images/badger-close.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.7;
}

#footer {
  text-align: center;
}

#blog-showcase {
  display: flex;
  align-items: center;
  height: 50vh;
  background-image: url(/images/sheep.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.7;
}

#menu-bar {
  text-align: center;
}

#about-showcase {
  display: flex;
  align-items: center;
  height: 50vh;
  background-image: url(/images/yarns.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.7;
}