/* font-family: 'Capriola', sans-serif;
font-family: 'Gochi Hand', cursive;
font-family: 'Roboto', sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #000839;
  overflow-x: hidden;
}

h1 {
  font-family: "Capriola", sans-serif;
}

header{
  height: 100vh;
}


/* Utility classes */

.l-heading {
  font-size: 3.2rem;
  font-family: "Capriola", sans-serif;
  font-weight: 700;
  color: #fbf0f0;
  text-align: center;
  margin: 0;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-heading {
  max-width: 80vw;
}

.m-heading {
  font-size: 3rem;
  font-family: "Capriola", sans-serif;
  font-weight: 700;
  color: #fbf0f0;
  text-align: center;
}

.s-heading {
  font-size: 2rem;
  font-family: "Capriola", sans-serif;
  font-weight: 700;
  color: #fbf0f0;
  text-align: center;
}

.xs-heading {
  font-size: 1.5rem;
  font-family: "Capriola", sans-serif;
  font-weight: 700;
  color: #fbf0f0;
  text-align: center;
}

.quote-heading {
  font-size: 1.7rem;
  font-family: "Gochi Hand", sans-serif;
  font-weight: 700;
  text-align: center;
}

.post-heading {
  font-size: 3rem;
  font-family: "Gochi Hand", sans-serif;
  font-weight: 700;
  text-align: center;
}

.post {
  text-align: center;
}

.posts-container {
  Nothing yet.
}

.posts-container img {
  width: 70%;
}

.date {
  color: #f0a500;
  text-decoration: underline;
  text-decoration-color: #000839;
  padding: 0.5rem;
  font-weight: 700;
}

.categories {
  color: #0275d8;
}

.read-more {

  text-align: right;
}

.read-more a {
  color: #000839;
  text-decoration: underline;
  text-decoration-color: #f0a500;
  font-weight: 600;
  text-align: right;
}

.read-more a:hover {
  color: #f0a500;
  text-decoration: underline;
  text-decoration-color: #000839;
  font-weight: 600;
  text-align: right;
}

.bg-lighter {
  background-color: #00a8cc;
  color: #000839;
}

.bg-darker {
  background-color: #00a8cc;
  color: #000839;
}

.bg-orange {
  background-color: #f0a500;
  color: #f0ece3;
}

.pic-spacing {
  width: 50%;
}

.showcase-content {
  margin: auto;
}

.recent {
  background-color: #f0ece3;
  margin: 0.4rem;
  padding: 0.5rem;
  border-radius: 5%;
  text-align: center;
}



#footer .fab {
  padding: 0.4rem;
  margin: 0.4rem;
}

#showcase {
  height: 90vh;
  background-image: url(/images/badger-close.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  overflow: hidden;
  position: relative;

}

#footer {
  text-align: center;
}

#blog-showcase {
  height: 50vh;
  background-image: url(/images/sheep.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;

  opacity: 0.7;
}

#blog-showcase .l-heading {
  color: #0275d8;
}

#menu-bar {
  text-align: center;
}

#about-showcase {
  height: 50vh;
  background-image: url(/images/yarns.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.7;
}